@inherits WebViewPage
@{
    Layout = null;
    var sw = System.Diagnostics.Stopwatch.StartNew();
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
  <title>Welcome to Sitecore</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="CODE_LANGUAGE" content="C#" />
  <meta name="vs_defaultClientScript" content="JavaScript" />
  <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
  <link href="/default.css" rel="stylesheet" />
  <sc:VisitorIdentification runat="server" />
</head>
<body> 
    <div id="MainPanel">
    
        <h1>@Html.Sitecore().Field("title")</h1>
        
        @Html.Sitecore().Placeholder("main")
        
        <div>
        Rendered at: @DateTime.Now<br />
        Render duration: @sw.ElapsedMilliseconds<br />
        </div>
        
    </div>
 </body>
</html>
